
.color{
    background-color: whitesmoke;
}
.container{
    background-color: whitesmoke;
}
.product-card{
    background-color: gainsboro;
}

.show-more{
    text-align: center;
}
.btn-cart {
    position: relative;
    top: 0;
    right: 0;
}
.btn-outline-warning:hover {
    color: #fff;
}

.btn-warning {
    transition: all 0.3s ease;
}

.btn-warning:hover {
    background-color: #ffd700;
}
.btn-outline-dark:active,
.btn-outline-dark:focus {
    background-color: #ffd700;
    border-color: #ffd700;
}
.advertisement-banner {
    margin: 50px auto;
    max-width: 100%;
    text-align: center;
}

.advertisement-banner img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card {
    position: relative;
    overflow: hidden;
}

.card-cover {
    background-size: cover;
    background-position: center;
}

.card .card-cover {
    height: 100%;
}

.card .card-cover img {
    width: 100%;
    height: auto;
    display: block;
}

.card .d-flex {
    justify-content: space-between;
}

.card .pt-5 {
    padding-top: 3rem;
    margin-top: 0;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}
